@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
//Color for the background and HR


//General
.h1, h1 {
  font-size: 30px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #8a6d3b;

}

.custom-page-header {
  background: #90754C;
  background-size: cover;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
}

//Login Form

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
  .help-block{
    font-size:12px
  }
  .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
  }
  .social-buttons{
    margin:12px 0;
    a{
      width: 100%;
    }
  }
  .text-right a{
    color: black;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .btn-registro{
    background-color: #3c763d;
    a {
      color: white;
    }
  }
}

//USER ENTRIES VIEW (POST AND TWEETS)

.user-entries{
    .tweets{
      .tweets-container {
        .tweet-container {
          padding: 10px;
          @include rounded(1em);
          background-color: #3c3c3c;
          margin-bottom: 10px;
          color: white;
        }
      margin-bottom: 10px;
        overflow: auto;
      }
      #btn-load-more {
        float: left;
        cursor: pointer;
      }
    }
  .preloader {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    display: none;

  }

}
